{
  parser: "babel-eslint",
  "root": true,
  "env": {
    "browser": true,
    "node": true,
  },
  "globals": {
    "Drupal": true,
    "drupalSettings": true,
  },
  "rules": {},
  "extends": ["airbnb-base"]
}